img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

body {
    counter-reset: figures;
}

figure {
    counter-increment: figures;
}

figure figcaption:before {
    content: 'Fig. ' counter(figures) ' - ';
}